.signup-page {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.logo-section {
  width: 50vw;
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.green-section {
  width: 50vw;
  height: 100vh;
  background-color: #81A281;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  box-sizing: border-box;
  text-align: center;
}

@media (max-width: 1024px) {
  .signup-page {
    flex-direction: column;
  }

  .logo-section,
  .green-section {
    width: 100vw;
    height: auto;
  }
}

.title{
  font-size: 5em;
  margin: 0.5rem;
  font-family: 'Montserrat';
}

.back-button {
  position: absolute;
  top: 1rem;
  left: 1rem;
  text-decoration: none;
}

.back-button:hover{
    text-decoration: underline;
}

.auth-subtitle {
  margin-bottom: 32px;
  text-align: center;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 400px;
  justify-self: center;
}

.auth-input {
  padding: 12px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  outline: none;
  font-family: 'Gabarito';
}

.auth-button:hover {
  background-color: #f0f0f0;
}

.switch-link {
  font-size: 1.25em;
}

.switch-anchor {
  font-weight: bold;
  text-decoration: none;
}

.switch-anchor:hover {
  text-decoration: underline;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.popup-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 7rem 9rem 3rem 9rem;
  position: relative;
  background-color: white;
  border-radius: 12px;
}

.resend-link {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  font-family: 'Gabarito';
}

.resend-link.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}